@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #244d3d;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  max-width: 100%;
}

/* Header */
header {
  background: #244d3d;
  padding: 49px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu > ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

ul.header-menu-child {
  position: absolute;
  min-width: 335px;
  background: #fff;
  list-style: none;
  top: 58px;
  z-index: 999;
}

.header-menu ul li a {
  font-size: 25px;
  color: #fff;
  display: block;
  position: relative;
}

.header-menu ul li a:hover {
  text-decoration: none;
}

.header-menu ul li a.active,
ul.header-menu-child li a:hover,
.header-menu ul li a:hover {
  color: #e34d44;
  font-weight: 900;
}

.header-menu ul li {
  padding: 0 15px;
  position: relative;
}

.header-menu ul li.menu-has-child > a:before {
  content: "\f107";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: -18px;
  top: 4px;
}

ul.header-menu-child li a {
  color: #254d3d;
  padding: 10px 5px;
  font-weight: normal;
  font-size: 25px;
  border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
  ul.header-menu-child {
    -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
  }

  .header-menu ul li.menu-has-child:hover ul {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
  }
}

li.menu-has-child:before {
  content: "";
  height: 38px;
  position: absolute;
  top: 21px;
  width: 250px;
}

li.menu-has-child {
  margin-right: 15px;
}

.header-phone a {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #fff;
}

.header-phone a i {
  font-size: 22px;
  color: #d3584c;
  margin-right: 15px;
  margin-top: 2px;
}

.header-phone a:hover {
  color: #d3584c;
}

@media (min-width: 768px) {
  .header-bar {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-phone {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-bar i {
    font-size: 26px;
    color: #fff;
  }

  .header-menu {
    position: absolute;
    top: 83px;
    left: 0;
    width: 100%;
    background: #fff;
    height: 0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    display: block;
    z-index: 9;
  }

  .header-menu.is-show {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }

  .header-bar.active i:before {
    content: "\f00d";
  }

  header {
    padding: 10px 0;
  }

  li.menu-has-child.is-show ul.header-menu-child {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  .header-menu > ul {
    flex-direction: column;
    width: 100%;
    align-items: self-start;
  }

  .header-menu ul li a {
    color: #000;
  }

  .header-menu > ul > li {
    display: block;
    width: 100%;
    padding: 10px 20px;
  }

  .header-menu ul li.menu-has-child > a:before {
    right: 0;
    color: #000;
  }

  li.menu-has-child:before {
    display: none;
  }

  ul.header-menu-child {
    position: relative;
    top: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .header-menu ul li.menu-has-child > a.is-show:before {
    content: "\f106";
  }
}

/* End header */
/* Start banner  */
.banner-box .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-inner h1 {
  font-size: 80px;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 900;
}

.banner-box {
  position: relative;
  min-height: 777px;
}

.banner-inner {
  color: #fff;
  text-align: center;
}

.banner-inner h5 {
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 25px;
}

.banner-button {
  color: #e34d44;
  background: #fff;
  min-width: 160px;
  padding: 14px 25px;
  font-size: 18px;
  display: inline-block;
}
.banner-button:hover {
  color: #fff;
  background: #e34d44;
}
@media (max-width: 767px) {
  .banner-inner h1 {
    font-size: 30px;
  }
}

/* End banner  */
/* Start delivering  */
.delivering-text ul li:before {
  color: #fff;
  counter-increment: section;
  content: counter(section);
  flex: 0 0 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #d74d3e;
  font-size: 14px;
  margin-right: 15px;
}

.delivering-text ul {
  counter-reset: section;
}

.delivering-heading {
  background: #234d3d;
  position: relative;
  transform: translateY(-50%);
}

.delivering-inner {
  display: flex;
  justify-content: space-between;
  padding: 65px 0;
}

.delivering-item {
  text-align: center;
  color: #fff;
}

.delivering-item h4 {
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
  margin-bottom: 15px;
}

.delivering-item h5 {
  color: #e34d44;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
}

.delivering-item p {
  font-size: 19px;
  max-width: 85%;
  margin: 0 auto;
}

.delivering-info {
  display: flex;
}

.delivering-image {
  width: 40%;
}

.delivering-text {
  width: 60%;
  padding-left: 70px;
  padding-top: 20px;
}

.delivering-text h4 {
  font-size: 19px;
  font-weight: 900;
  text-transform: uppercase;
  color: #245c43;
  margin: 0;
  margin-bottom: 15px;
}

.delivering-text h4 span {
  color: #e34d44;
}

.delivering-text h2 {
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  color: #245c43;
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 35px;
}

.delivering-text h2:before {
  content: "";
  background: #d74d3e;
  height: 1px;
  width: 80px;
  position: absolute;
  bottom: 0;
}

.delivering-text p {
  font-size: 19px;
  color: #202020;
  margin-bottom: 15px;
}

.delivering-text ul {
  list-style: none;
  margin: 0;
}

.delivering-text ul li {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.delivering-text ul li + li {
  margin-top: 12px;
}

@media (max-width: 767px) {
  .delivering-heading {
    transform: translateY(0);
    margin-top: 30px;
  }

  .delivering-inner {
    flex-direction: column;
  }

  .delivering-item {
    margin-bottom: 30px;
  }

  .delivering-info {
    flex-wrap: wrap;
  }

  .delivering-info > div {
    width: 100%;
  }

  .delivering-text {
    padding-left: 0;
  }
}

/* End delivering  */
/* Start services  */
.services-box {
  margin-top: 90px;
  position: relative;
  z-index: 1;
}

.services-heading {
  padding: 77px 0;
  background: #d3584c;
  text-align: center;
  color: #fff;
  min-height: 500px;
}
.services-heading .container {
  position: relative;
  z-index: 9999;
}
.services-heading h5 {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 15px;
}

.services-heading h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 900;
}

.services-heading + .container {
  position: relative;
  margin-top: -16%;
}

.services-item {
  position: relative;
}

.services-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  z-index: 9;
  top: 0;
  left: 0;
  padding-bottom: 50px;
  color: #fff;
}

.services-text h4 {
  margin: 0;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}

.services-text a {
  display: inline-block;
  background: #d3584c;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  min-width: 150px;
  padding: 10px;
  text-align: center;
}

.services-owl .owl-nav button {
  position: absolute;
  top: 50%;
  left: 25px;
  width: 44px;
  height: 44px;
  background: rgb(255 255 255 / 40%) !important;
}

.services-owl .owl-nav button.owl-next {
  right: 25px;
  left: auto;
}

.services-owl .owl-nav button i {
  font-size: 26px;
}

@media (max-width: 991px) {
  .services-heading {
    min-height: 350px;
  }
}

@media (max-width: 767px) {
  .services-heading {
    min-height: 270px;
  }
}

/* End services  */
/* Start project  */
.project-box {
  background: url(../images/bg_project.png);
  background-size: cover;
  position: relative;
  padding-top: 21%;
  margin-top: -14%;
  padding-bottom: 100px;
}

.project-heading {
  position: relative;
  z-index: 99;
  text-align: center;
  margin-bottom: 60px;
}

.project-heading h5 {
  color: #d3584c;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.project-heading h2 {
  margin: 0;
  font-size: 50px;
  color: #245c43;
  font-weight: 900;
}

.project-inner {
  display: flex;
}

.project-inner > div {
  width: 50%;
}

.project-text {
  background: #fefbfb;
  padding-left: 30px;
  padding-top: 40px;
}

.project-item + .project-item {
  margin-top: 40px;
}

.project-text h4 {
  margin: 0;
  color: #245c43;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 900;
}

.project-text p {
  margin: 0;
  font-size: 19px;
}

.project-button {
  display: flex;
  margin-top: 40px;
}

.project-button a {
  min-width: 220px;
  text-align: center;
  border: 1px solid #d3584c;
  background: #d3584c;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 42px;
}

.project-button a + a {
  margin-left: 15px;
  background: transparent;
  color: #d3584c;
}

.project-button a:hover {
  background: transparent;
  color: #d3584c;
}

.project-button a + a:hover {
  background: #d3584c;
  color: #fff;
}

.project-item:nth-of-type(2) .project-image {
  order: 2;
}

@media (max-width: 767px) {
  .project-inner {
    flex-wrap: wrap;
  }

  .project-inner > div {
    width: 100%;
  }

  .project-text {
    padding: 20px;
  }

  .project-item:nth-of-type(2) .project-image {
    order: 1;
  }

  .project-item:nth-of-type(2) .project-text {
    order: 2;
  }

  .project-box {
    padding-bottom: 50px;
  }
}

/* End project  */
/* Start request  */
.request-box {
  background: #30624d;
  display: flex;
}

.request-image {
  width: 40%;
  background: url(../images/request.png) no-repeat;
  background-size: cover;
  background-position: top center;
}

.request-form {
  width: 60%;
  padding: 65px 8% 65px 65px;
  color: #fff;
  font-size: 13px;
}

.request-form h5 {
  margin: 0;
  font-size: 19px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}

.request-form h2 {
  font-size: 50px;
  color: #fff;
  font-weight: 900;
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.request-form h2:before {
  content: "";
  background: #d74d3e;
  height: 1px;
  width: 80px;
  position: absolute;
  bottom: 0;
}
.request-form p {
  font-size: 18px;
}
.request-form p a {
  color: #d3584c;
}

.request-form-item {
  display: flex;
  align-items: center;
  margin: 0 -3px;
}

.request-input {
  padding: 3px;
}

.request-col .request-input {
  width: 50%;
}

.request-full .request-input {
  width: 100%;
}

.request-input input,
.request-input textarea {
  width: 100%;
  font-size: 18px;
  padding: 20px;
  outline: 0;
  color: #000;
}

.request-form-btn button {
  min-width: 220px;
  text-align: center;
  border: 1px solid #d3584c;
  background: #d3584c;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 42px;
}

.request-form-btn {
  margin-top: 30px;
}

.request-form-btn button:hover {
  background: #fff;
  border-color: #fff;
  color: #d3584c;
}

.request-form form {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .request-image {
    display: none;
  }

  .request-form {
    width: 100%;
    padding: 30px;
  }
}

/* End request */
/* Start footer  */
.footer-top {
  background: #244d3d;
  padding: 80px 0 60px;
  color: #fff;
}

.footer-info p {
  margin-top: 20px;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 0;
}

.footer-top .row {
  margin: 0 -25px;
}

.footer-top .row > div {
  padding: 0 25px;
}

.footer-title {
  color: #d3584c;
  font-size: 40px;
  font-weight: 900;
  padding: 15px 0;
  margin-bottom: 17px;
}

.footer-contact {
  list-style: none;
  margin: 0;
}

.footer-contact li {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #7c948b;
  border-left: 0;
  border-right: 0;
  font-size: 20px;
}

.footer-contact li:first-child {
  border-top: 1px solid #7c948b;
}

.footer-contact li i {
  flex: 0 0 25px;
  color: #d3584c;
  font-size: 15px;
}

.footer-social {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.footer-social li a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
}

.footer-copyright {
  background: #d3584c;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 767px) {
  .footer-top .row {
    margin: 0;
  }

  .footer-top .row > div {
    padding: 0;
  }
}

/* End footer  */
/* Start popup request  */
.popup-form {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.popup-form.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-form:before {
  content: "";
  background: rgb(0 0 0 / 40%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-form-inner {
  position: relative;
  width: 880px;
  background: #245c43;
  border-radius: 10px;
  display: flex;
}

.popup-form-request {
  background: #fff;
  width: 65%;
  padding: 50px 55px;
  border-radius: 10px 0 0 10px;
}

.popup-form-get {
  width: 35%;
  padding: 45px 20px;
  text-align: center;
  color: #fff;
}

.popup-form-get h4 {
  margin: 0;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 40px;
}

ul.popup-form-contact,
.popup-form-social {
  list-style: none;
  margin: 0;
}

ul.popup-form-contact li {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 20px;
}

ul.popup-form-contact li i {
  margin-bottom: 5px;
}

ul.popup-form-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

ul.popup-form-social a {
  color: #fff;
  display: block;
  padding: 0 10px;
  font-size: 18px;
}

.popup-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d3584c;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
}

.popup-form-item {
  display: flex;
  align-items: center;
  margin: 0 -10px;
  margin-bottom: 20px;
}

.popup-form-col .popup-form-input {
  width: 50%;
}

.popup-form-full .popup-form-input {
  width: 100%;
}

.popup-form-input label {
  font-weight: normal;
  margin: 0;
  display: block;
  font-size: 15px;
  color: #6c6c6c;
}

.popup-form-input input,
.popup-form-input textarea {
  width: 100%;
  border-bottom: 1px solid #707070;
  border-radius: 0;
  padding: 10px 0;
  outline: 0;
  font-size: 18px;
  color: #245c43;
  font-weight: 900;
}

.popup-form-input {
  padding: 0 10px;
}

.popup-form-input textarea {
  height: 120px;
  resize: none;
}

.popup-form-request form {
  position: relative;
}

.popup-form-button {
  position: absolute;
  right: -16px;
  bottom: -20px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d3584c;
  border-radius: 50%;
}

.popup-form-button button {
  background: transparent;
  color: #fff;
  font-size: 20px;
  outline: 0;
}

.popup-close {
  position: absolute;
  right: -15px;
  top: -15px;
  background: #fff;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup-close svg {
  width: 20px;
  height: 20px;
  fill: #255c43;
}

@media (max-width: 991px) {
  .popup-form-inner {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .popup-form-inner {
    flex-wrap: wrap;
  }

  .popup-form-get {
    display: none;
  }

  .popup-form-request {
    width: 100%;
    border-radius: 10px;
    padding: 30px;
  }
}

/* End popup request  */
.page-error {
  position: relative;
  background: url(../images/banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 915px;
}

.page-error .container {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error-inner h1 {
  font-size: 67px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 30px;
}

.error-inner p {
  font-size: 20px;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn-main {
  display: inline-block;
  min-width: 150px;
  background: #d3584c;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 20px;
  text-align: center;
}
.btn-main:hover {
  background: #fff;
  color: #d3584c;
}
@media (max-width: 767px) {
  .page-error {
    min-height: 100vh;
  }
}

/* Start page about  */
.heading-page {
  background: #1e3e31;
  padding: 86px 0;
  text-align: center;
  color: #fff;
}

.heading-page h1 {
  margin: 0;
  font-weight: 900;
  font-size: 80px;
}

.about-story {
  display: flex;
  background: #e8e8e8;
}

.about-image {
  width: 35%;
  background: url(../images/request.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.about-story-text {
  width: 75%;
  background: #e8e8e8;
  padding: 80px 10% 80px 80px;
  font-size: 14px;
}

.about-story-text h4 {
  margin: 0;
  font-size: 50px;
  color: #e34d44;
  font-weight: 900;
  margin-bottom: 35px;
}
.about-story-text p {
  margin-bottom: 30px;
}
.about-story-text p, 
.about-story-text ul {
    font-size: 19px;
}
.about-story-text ul {
  padding-left: 20px;
}
.about-story-text ul li+li {
  margin-top: 30px;  
}
.about-list {
  background: url(../images/bg_about_2.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.about-list-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.about-list-item {
  width: calc(100% / 3);
  text-align: center;
  padding: 30px 15px;
  color: #fff;
}

.about-list-item h4 {
  margin: 0;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-list-item p {
  margin: 0 auto;
  font-size: 23px;
}

.about-mission-vision {
  display: flex;
  background: #1f573f;
  color: #fff;
}

.about-mission-vision > div {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-mission,
.about-vision {
  padding-left: 8%;
  padding-right: 8%;
}

.about-mission-vision h4 {
  margin: 0;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}

.about-mission-vision p {
  font-size: 20px;
  margin-bottom: 20px;
}

.about-vision {
  background: url(../images/bg_about_1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.about-contact {
  background: #e7e7e7;
  padding: 44px 0;
}

.about-contact-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-contact-inner p {
  font-size: 26px;
  color: #202020;
  font-weight: 500;
  margin: 0;
}
@media (min-width: 992px) {
  .about-story {
    min-height: 800px;
  }
}
@media (max-width: 767px) {
  .heading-page {
    padding: 30px 0;
  }

  .heading-page h1 {
    font-size: 30px;
  }

  .about-image {
    display: none;
  }

  .about-story-text {
    width: 100%;
    padding: 20px;
  }

  .about-list {
    padding: 30px 0;
  }

  .about-list-item {
    width: 100%;
  }

  .about-mission-vision {
    flex-wrap: wrap;
  }

  .about-contact-inner {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .about-contact-inner p {
    margin-bottom: 20px;
  }
}

/* Start page contact  */
.heading-contact {
  background: url(../images/heading_contact.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-form-inner {
  display: flex;
  padding: 80px 0;
  margin: 0 -40px;
}

.contact-text {
  width: 40%;
}

.contact-form-box {
  width: 60%;
}

.contact-form-inner > div {
  padding: 0 40px;
}

.contact-text p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #202020;
  font-weight: 500;
}

.contact-text p a {
  color: #d3584c;
}

.contact-form-box input,
.contact-form-box textarea {
  border: 1px solid #e8aaa4;
}

.contact-form-box .request-input {
  padding: 10px;
}

.contact-form-box .request-form-item {
  margin: 0 -10px;
}

.contact-info {
  background: #2f624d;
  color: #fff;
  padding: 75px 0;
}

.contact-info-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 30px;
}

.contact-info-title i {
  display: block;
  color: #d3584c;
  font-size: 30px;
  margin-bottom: 30px;
}

.contact-info p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.contact-info p span {
  display: block;
  font-weight: 900;
}

.contact-info p a {
  color: #d3584c;
  font-size: 16px;
}

@media (max-width: 767px) {
  .contact-form-inner {
    padding: 30px 0;
    flex-wrap: wrap;
    margin: 0;
  }

  .contact-form-inner > div {
    width: 100%;
    padding: 0;
  }
}

/* Start gallery  */
.heading-gallery {
  background: transparent;
}

.heading-color h1 {
  color: #245c43;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.heading-color h1 span {
  color: #d3584c;
}

.heading-page h5 {
  margin: 0;
  color: #202020;
  font-size: 20px;
}

.gallery-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-bottom: 80px;
}

.gallery-item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.gallery-item a {
  display: block;
  position: relative;
}

.gallery-more a span {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.gallery-more a span b {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
}

.gallery-more a span small {
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-decoration: underline;
}

.gallery-more a span b:before,
.gallery-more a span b:after {
  content: "";
  background: #d3584c;
  height: 4px;
  width: 30px;
  position: absolute;
  opacity: 1;
  visibility: visible;
}

.gallery-item a span b:after {
  transform: rotate(90deg);
}

.gallery-item.gallery-more a:before {
  content: "";
  background: #d3584c;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.gallery-item.gallery-more a {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .gallery-item {
    width: 50%;
  }
}

/* Start projects  */
.heading-projects {
  background: url(../images/bg_projects.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.projects-box {
  display: flex;
  margin: 0 -20px;
  padding: 60px 0;
}

.projects-box > div {
  padding: 0 20px;
}

.projects-left {
  width: 30%;
}

.project-right {
  width: 70%;
}

.project-right .project-inner {
  flex-wrap: wrap;
  margin: 0 -15px;
}

.project-right .project-inner .project-item {
  padding: 0 15px;
  margin: 0;
  margin-bottom: 30px;
}

.project-right .project-inner .project-content {
  position: relative;
}

.project-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(211 88 76 / 80%);
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}

.project-detail h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 900;
  color: #fff;
  margin-bottom: 12px;
}

.project-detail h5 {
  margin: 0;
  color: #fff;
  font-size: 12px;
}

.project-detail a {
  position: absolute;
  bottom: 25px;
  font-size: 10px;
  display: flex;
  align-items: center;
  min-width: 110px;
  justify-content: center;
  background: #fff;
  color: #d3584c;
  font-weight: 900;
  text-transform: uppercase;
  min-height: 30px;
}

.project-detail a i {
  margin-left: 7px;
  font-size: 16px;
}

.project-right .project-inner .project-content:hover .project-detail {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.pagination-box ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.pagination-box {
  margin-top: 40px;
}

.pagination-box ul li .pagination-note {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #202020;
  font-size: 14px;
}

.pagination-box ul li span.pagination-note,
.pagination-box ul li .pagination-note:hover {
  background: #d3574b;
  color: #fff;
}

.projects-search {
  margin-bottom: 55px;
}

.projects-search form {
  position: relative;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.projects-search form input {
  border: 0;
  padding: 15px;
  width: 100%;
  outline: 0;
}

.projects-search button {
  position: absolute;
  right: 0;
  background: transparent;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  outline: 0;
}

.projects-search button svg {
  width: 16px;
  height: 16px;
}

.project-list {
  margin-bottom: 50px;
}

.project-list h5 {
  font-size: 15px;
  color: #202020;
  margin: 0;
  margin-bottom: 15px;
}

.project-list ul {
  list-style: none;
  margin: 0;
}

.project-list ul li a {
  font-size: 13px;
  display: block;
  color: #202020;
  margin-bottom: 10px;
}

.project-list ul li a.active {
  font-weight: 900;
  text-decoration: underline;
}

.project-list ul li a:hover {
  text-decoration: underline;
}

.project-detail-text h1 {
  color: #245c43;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 30px;
}

.projects-detail {
  padding: 100px 0;
}

.project-detail-text p {
  font-size: 12px;
  margin-bottom: 30px;
}

.project-detail-text ul {
  list-style: none;
  margin: 0;
}

.project-detail-text ul li {
  display: flex;
  margin-bottom: 20px;
  color: #6c6c6c;
  font-size: 12px;
}

.project-detail-text ul li span {
  color: #202020;
  font-weight: 900;
  flex: 0 0 105px;
}

.detail-button {
  margin-top: 30px;
  margin-bottom: 50px;
}

.detail-button a {
  display: inline-block;
  background: #235b43;
  color: #fff;
  font-size: 12px;
  min-width: 100px;
  text-align: center;
  padding: 10px 0;
}

.detail-share {
  display: flex;
  align-items: center;
}

.detail-share a {
  margin: 0 15px;
  color: #202020;
  font-size: 20px;
}

.projects-another {
  border-top: 1px solid #dcdbdb;
  padding: 40px 0;
  position: relative;
}

.projects-another-inner {
  display: flex;
  justify-content: space-between;
}

.another-next {
  text-align: right;
}

.projects-another-inner a {
  color: #6c6c6c;
  font-size: 14px;
  width: 50%;
}

.projects-another-inner a p {
  color: #d3584c;
  font-weight: 900;
  margin-bottom: 5px;
}

.projects-another:before {
  content: "";
  height: 100%;
  background: #dcdbdb;
  width: 1px;
  position: absolute;
  top: 0;
  left: 50%;
}

.projects-another .back {
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -12px;
  color: #d3584c;
  z-index: 9;
  font-size: 26px;
  width: 24px;
}

@media (max-width: 767px) {
  .projects-box {
    flex-wrap: wrap;
  }

  .project-detail-text {
    margin-bottom: 30px;
  }

  .projects-detail {
    padding: 30px 0;
  }

  .projects-box > div {
    width: 100%;
  }
}

/* Start delivery */
.delivery-page {
  position: relative;
  background: url(../images/bg_devlivery.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 670px;
  display: flex;
  align-items: center;
}

.delivery-inner h5 {
}

.delivery-inner h5 {
  margin: 0;
  font-size: 19px;
  color: #e34d44;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.delivery-inner h1 {
  margin: 0;
  font-size: 50px;
  color: #244d3d;
  font-weight: 900;
  margin-bottom: 40px;
}

.delivery-inner p {
  font-size: 19px;
  max-width: 600px;
  color: #202020;
  margin-bottom: 50px;
}

.delivery-inner .btn-main {
  background: #fff;
  color: #d3584c;
  font-weight: bold;
}

.delivery-info {
  display: flex;
  justify-content: space-between;
}

.delivery-item {
  width: 50%;
  padding: 40px 0;
  display: flex;
  align-items: center;
}

.delivery-item:first-child {
  background: #d3584c;
  padding-left: 8%;
  padding-right: 30px;
  color: #fff;
}

.delivery-item:last-child {
  padding-right: 8%;
  padding-left: 30px;
}

.delivery-text {
  margin-left: 20px;
}

.delivery-text h5 {
  margin: 0;
  font-weight: 900;
  margin-bottom: 5px;
}

.delivery-text p {
  margin: 0;
  font-size: 12px;
}

@media (max-width: 767px) {
  .delivery-page {
    min-height: 50vh;
  }

  .delivery-info {
    flex-wrap: wrap;
  }

  .delivery-item {
    width: 100%;
    padding: 25px !important;
  }
}

/* Start tekla  */
.tekla-structures {
  background: url(../images/bg_tekla_1.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 125px 0;
  padding-bottom: 100px;
}

.tekla-structures-title {
  text-align: center;
  color: #fff;
}

.tekla-structures-title h5 {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  margin-bottom: 15px;
}

.tekla-structures-title h3 {
  margin: 0;
  font-weight: 900;
  font-size: 50px;
}

.tekla-list {
  margin-top: 85px;
  margin-bottom: 130px;
}

.tekla-list .panel-group {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.tekla-list .panel-group .panel {
  padding: 0 15px;
  width: 50%;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px !important;
}

.tekla-list .panel-group .panel + .panel {
  margin: 0;
}

.tekla-list .panel-group .panel .panel-heading {
  border: 0;
  background: #fff;
  border-radius: 0;
  padding: 25px;
}

.tekla-list .panel-group .panel .panel-heading a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #d3584c;
  position: relative;
}

.tekla-list .panel-group .panel .panel-heading a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.tekla-list .panel-group .panel .panel-heading a:before {
  content: "\f068";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  font-size: 22px;
}

.tekla-list .panel-group .panel .panel-heading a.collapsed:before {
  content: "\f067";
}

.tekla-list .panel-group .panel .panel-collapse {
  background: #fff;
  border: 0;
}

.tekla-list .panel-group .panel .panel-collapse .panel-body {
  border: 0;
  padding: 25px;
  padding-top: 5px;
  font-size: 19px;
  color: #202020;
}

.tekla-projects-item {
  position: relative;
}

.tekla-project-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.tekla-project-content a {
  width: 48px;
  height: 48px;
  background: #d3584c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tekla-project-content a:before,
.tekla-project-content a:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #fff;
}

.tekla-project-content a:after {
  transform: rotate(90deg);
}

.tekla-projects-item:hover .tekla-project-content {
  opacity: 1;
  visibility: visible;
}

.tekla-projects button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff !important;
  font-size: 24px !important;
}

.tekla-projects button.owl-prev {
  left: 10%;
}

.tekla-projects button.owl-next {
  right: 10%;
}

.tekla-work {
  background: url(../images/bg_tekla_2.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 90px 0;
}

.tekla-work-content {
  text-align: center;
  color: #fff;
}

.tekla-work-content h4 {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 30px;
}

.tekla-work-content p {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 20px;
}

.tekla-work-content .btn-main,
.services-text a:hover {
  background: #fff;
  color: #e44d44;
}
.tekla-work-content .btn-main:hover,
.delivery-inner .btn-main:hover,
.project-detail a:hover {
  background: #e44d44;
  color: #fff;
}
.tekla-project-content a:hover {
  background: #fff;
}

.tekla-project-content a:hover:before,
.tekla-project-content a:hover:after {
  background: #d3584c;
}
@media (max-width: 767px) {
  .tekla-list .panel-group .panel {
    width: 100%;
  }

  .tekla-work-content p {
    max-width: 100%;
  }
}
