* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", sans-serif;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #244d3d;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  max-width: 100%;
}

/* Header */
header {
  background: #244d3d;
  padding: 25px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu>ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

ul.header-menu-child {
  position: absolute;
  min-width: 250px;
  background: #fff;
  list-style: none;
  top: 58px;
  z-index: 999;
}

.header-menu ul li a {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  display: block;
  position: relative;
}

.header-menu ul li a:hover {
  text-decoration: none;
}

.header-menu ul li a.active,
ul.header-menu-child li a:hover,
.header-menu ul li a:hover {
  color: #e34d44;
}

.header-menu ul li {
  padding: 0 15px;
  position: relative;
}

.header-menu ul li.menu-has-child>a:before {
  content: "\f107";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: -18px;
  top: -3px;
}

ul.header-menu-child li a {
  color: #254d3d;
  padding: 10px 5px;
  font-weight: normal;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
  ul.header-menu-child {
    -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
  }

  .header-menu ul li.menu-has-child:hover ul {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
  }
}

li.menu-has-child:before {
  content: "";
  height: 38px;
  position: absolute;
  top: 21px;
  width: 250px;
}

li.menu-has-child {
  margin-right: 15px;
}

.header-phone a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

.header-phone a i {
  font-size: 22px;
  color: #d3584c;
  margin-right: 15px;
  margin-top: 2px;
}

.header-phone a:hover {
  color: #d3584c;
}

@media (min-width: 768px) {
  .header-bar {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-phone {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-menu {
    display: none;
  }

  .header-bar i {
    font-size: 26px;
    color: #fff;
  }

  .header-menu {
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    background: #fff;
    height: 0;
    transition: 0.5s;
    opacity: 0;
    visibility: visible;
    display: block;
    z-index: 9;
  }

  .header-menu.is-show {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }

  .header-bar.active i:before {
    content: "\f00d";
  }

  header {
    padding: 10px 0;
  }

  li.menu-has-child.is-show ul.header-menu-child {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  .header-menu>ul {
    flex-direction: column;
    width: 100%;
    align-items: self-start;
  }

  .header-menu ul li a {
    color: #000;
  }

  .header-menu>ul>li {
    display: block;
    width: 100%;
    padding: 10px 20px;
  }

  .header-menu ul li.menu-has-child>a:before {
    right: 0;
    color: #000;
  }

  li.menu-has-child:before {
    display: none;
  }

  ul.header-menu-child {
    position: relative;
    top: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .header-menu ul li.menu-has-child>a.is-show:before {
    content: "\f106";
  }
}

/* End header */
/* Start banner  */
.banner-box .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-inner h1 {
  font-size: 55px;
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
}

.banner-box {
  position: relative;
}

.banner-inner {
  color: #fff;
  text-align: center;
}

.banner-inner h5 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 25px;
}

.banner-button {
  color: #e34d44;
  background: #fff;
  min-width: 160px;
  padding: 14px 25px;
  font-size: 14px;
  display: inline-block;
}

@media (max-width: 767px) {
  .banner-inner h1 {
    font-size: 30px;
  }
}

/* End banner  */
/* Start delivering  */
.delivering-text ul li:before {
  color: #fff;
  counter-increment: section;
  content: counter(section);
  flex: 0 0 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #d74d3e;
  font-size: 14px;
  margin-right: 15px;
}

.delivering-text ul {
  counter-reset: section;
}

.delivering-heading {
  background: #234d3d;
  position: relative;
  transform: translateY(-50%);
}

.delivering-inner {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.delivering-item {
  text-align: center;
  color: #fff;
}

.delivering-item h4 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 15px;
}

.delivering-item h5 {
  color: #e34d44;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.delivering-item p {
  font-size: 13px;
  max-width: 60%;
  margin: 0 auto;
}

.delivering-info {
  display: flex;
}

.delivering-image {
  width: 40%;
}

.delivering-text {
  width: 60%;
  padding-left: 70px;
  padding-top: 20px;
}

.delivering-text h4 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #245c43;
  margin: 0;
  margin-bottom: 15px;
}

.delivering-text h4 span {
  color: #e34d44;
}

.delivering-text h2 {
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  color: #245c43;
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 35px;
}

.delivering-text h2:before {
  content: "";
  background: #d74d3e;
  height: 1px;
  width: 80px;
  position: absolute;
  bottom: 0;
}

.delivering-text p {
  font-size: 13px;
  color: #202020;
  margin-bottom: 15px;
}

.delivering-text ul {
  list-style: none;
  margin: 0;
}

.delivering-text ul li {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.delivering-text ul li+li {
  margin-top: 12px;
}

@media (max-width: 767px) {
  .delivering-heading {
    transform: translateY(0);
    margin-top: 30px;
  }

  .delivering-inner {
    flex-direction: column;
  }

  .delivering-item {
    margin-bottom: 30px;
  }

  .delivering-info {
    flex-wrap: wrap;
  }

  .delivering-info>div {
    width: 100%;
  }

  .delivering-text {
    padding-left: 0;
  }
}

/* End delivering  */
/* Start services  */
.services-box {
  margin-top: 90px;
  position: relative;
  z-index: 1;
}

.services-heading {
  padding: 77px 0;
  background: #d3584c;
  text-align: center;
  color: #fff;
  min-height: 500px;
}

.services-heading h5 {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.services-heading h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.services-heading+.container {
  position: relative;
  margin-top: -22%;
}

.services-item {
  position: relative;
}

.services-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  z-index: 9;
  top: 0;
  left: 0;
  padding-bottom: 50px;
  color: #fff;
}

.services-text h4 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.services-text a {
  display: inline-block;
  background: #d3584c;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  min-width: 150px;
  padding: 10px;
  text-align: center;
}

.services-owl .owl-nav button {
  position: absolute;
  top: 50%;
  left: 25px;
  width: 44px;
  height: 44px;
  background: rgb(255 255 255 / 40%) !important;
}

.services-owl .owl-nav button.owl-next {
  right: 25px;
  left: auto;
}

.services-owl .owl-nav button i {
  font-size: 26px;
}

@media (max-width: 991px) {
  .services-heading {
    min-height: 350px;
  }
}

@media (max-width: 767px) {
  .services-heading {
    min-height: 270px;
  }
}

/* End services  */
/* Start project  */
.project-box {
  background: url(../images/bg_project.png);
  background-size: cover;
  position: relative;
  padding-top: 21%;
  margin-top: -14%;
  padding-bottom: 100px;
}

.project-heading {
  position: relative;
  z-index: 99;
  text-align: center;
  margin-bottom: 60px;
}

.project-heading h5 {
  color: #d3584c;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.project-heading h2 {
  margin: 0;
  font-size: 36px;
  color: #245c43;
  font-weight: bold;
}

.project-inner {
  display: flex;
}

.project-inner>div {
  width: 50%;
}

.project-text {
  background: #fefbfb;
  padding-left: 30px;
  padding-top: 40px;
}

.project-item+.project-item {
  margin-top: 40px;
}

.project-text h4 {
  margin: 0;
  color: #245c43;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.project-text p {
  margin: 0;
  font-size: 13px;
}

.project-button {
  display: flex;
  margin-top: 40px;
}

.project-button a {
  min-width: 150px;
  text-align: center;
  border: 1px solid #d3584c;
  background: #d3584c;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 42px;
}

.project-button a+a {
  margin-left: 15px;
  background: transparent;
  color: #d3584c;
}

.project-button a:hover {
  background: transparent;
  color: #d3584c;
}

.project-button a+a:hover {
  background: #d3584c;
  color: #fff;
}

.project-item:nth-of-type(2) .project-image {
  order: 2;
}

@media (max-width: 767px) {
  .project-inner {
    flex-wrap: wrap;
  }

  .project-inner>div {
    width: 100%;
  }

  .project-text {
    padding: 20px;
  }

  .project-item:nth-of-type(2) .project-image {
    order: 1;
  }

  .project-item:nth-of-type(2) .project-text {
    order: 2;
  }

  .project-box {
    padding-bottom: 50px;
  }
}

/* End project  */
/* Start request  */
.request-box {
  background: #30624d;
  display: flex;
}

.request-image {
  width: 40%;
  background: url(../images/request.png) no-repeat;
  background-size: cover;
  background-position: top center;
}

.request-form {
  width: 60%;
  padding: 65px 8% 65px 65px;
  color: #fff;
  font-size: 13px;
}

.request-form h5 {
  margin: 0;
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}

.request-form h2 {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.request-form h2:before {
  content: "";
  background: #d74d3e;
  height: 1px;
  width: 80px;
  position: absolute;
  bottom: 0;
}

.request-form p a {
  color: #d3584c;
}

.request-form-item {
  display: flex;
  align-items: center;
  margin: -3px;
}

.request-input {
  padding: 3px;
}

.request-col .request-input {
  width: 50%;
}

.request-full .request-input {
  width: 100%;
}

.request-input input,
.request-input textarea {
  width: 100%;
  font-size: 12px;
  padding: 20px;
  outline: 0;
  color: #000;
}

.request-form-btn button {
  min-width: 150px;
  text-align: center;
  border: 1px solid #d3584c;
  background: #d3584c;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 42px;
}

.request-form-btn {
  margin-top: 30px;
}

.request-form-btn button:hover {
  background: transparent;
  color: #d3584c;
}

.request-form form {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .request-image {
    display: none;
  }

  .request-form {
    width: 100%;
    padding: 30px;
  }
}

/* End request */
/* Start footer  */
.footer-top {
  background: #244d3d;
  padding: 50px 0 40px;
  color: #fff;
}

.footer-info p {
  margin-top: 20px;
  font-size: 13px;
  text-align: justify;
  margin-bottom: 0;
}

.footer-top .row {
  margin: 0 -25px;
}

.footer-top .row>div {
  padding: 0 25px;
}

.footer-title {
  color: #d3584c;
  font-size: 28px;
  font-weight: bold;
  padding: 15px 0;
  margin-bottom: 17px;
}

.footer-contact {
  list-style: none;
  margin: 0;
}

.footer-contact li {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #7c948b;
  border-left: 0;
  border-right: 0;
  font-size: 13px;
}

.footer-contact li:first-child {
  border-top: 1px solid #7c948b;
}

.footer-contact li i {
  flex: 0 0 25px;
  color: #d3584c;
  font-size: 15px;
}

.footer-social {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.footer-social li a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
}


.footer-copyright {
  background: #d3584c;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 767px) {
  .footer-top .row {
    margin: 0;
  }
}

/* End footer  */
/* Start popup request  */
.popup-form {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.popup-form.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-form:before {
  content: "";
  background: rgb(0 0 0 / 40%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-form-inner {
  position: relative;
  width: 880px;
  background: #245c43;
  border-radius: 10px;
  display: flex;
}

.popup-form-request {
  background: #fff;
  width: 65%;
  padding: 50px 55px;
  border-radius: 10px 0 0 10px;
}

.popup-form-get {
  width: 35%;
  padding: 45px 20px;
  text-align: center;
  color: #fff;
}

.popup-form-get h4 {
  margin: 0;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 40px;
}

ul.popup-form-contact,
.popup-form-social {
  list-style: none;
  margin: 0;
}

ul.popup-form-contact li {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

ul.popup-form-contact li i {
  margin-bottom: 5px;
}

ul.popup-form-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

ul.popup-form-social a {
  color: #fff;
  display: block;
  padding: 0 10px;
  font-size: 18px;
}

.popup-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d3584c;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.popup-form-item {
  display: flex;
  align-items: center;
  margin: 0 -10px;
  margin-bottom: 20px;
}

.popup-form-col .popup-form-input {
  width: 50%;
}

.popup-form-full .popup-form-input {
  width: 100%;
}

.popup-form-input label {
  font-weight: normal;
  margin: 0;
  display: block;
  font-size: 10px;
  color: #6c6c6c;
}

.popup-form-input input,
.popup-form-input textarea {
  width: 100%;
  border-bottom: 1px solid #707070;
  border-radius: 0;
  padding: 10px 0;
  outline: 0;
  font-size: 12px;
  color: #245c43;
  font-weight: bold;
}

.popup-form-input {
  padding: 0 10px;
}

.popup-form-input textarea {
  height: 120px;
  resize: none;
}

.popup-form-request form {
  position: relative;
}

.popup-form-button {
  position: absolute;
  right: -16px;
  bottom: -20px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d3584c;
  border-radius: 50%;
}

.popup-form-button button {
  background: transparent;
  color: #fff;
  font-size: 20px;
  outline: 0;
}

.popup-close {
  position: absolute;
  right: -15px;
  top: -15px;
  background: #fff;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup-close svg {
  width: 20px;
  height: 20px;
  fill: #255c43;
}

@media (max-width: 991px) {
  .popup-form-inner {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .popup-form-inner {
    flex-wrap: wrap;
  }

  .popup-form-get {
    display: none;
  }

  .popup-form-request {
    width: 100%;
    border-radius: 10px;
    padding: 30px;
  }
}

/* End popup request  */
.page-error {
  position: relative;
  background: url(../images/banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 476px);
}
.page-error .container {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.error-inner h1 {
    font-size: 46px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
}

.error-inner p {
    margin-bottom: 30px;
    font-size: 14px;
}

.btn-main {
    display: inline-block;
    min-width: 150px;
    background: #d3584c;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 20px;
}
@media (max-width: 767px) {
  .page-error {
    min-height: 100vh;
  }
}